@font-face {
    font-family: "Kanit";
    src: url("fonts/Kanit-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
    position: relative;
    --purple-color: #6C63FF;
    --purple-outline-color: rgba(108, 99, 255, 0.5);
    --purple-placeholder-color: rgba(108, 99, 255, 0.4);
    --white-color: #F7F7F7;
    --white-outline-color: rgba(247, 247, 247, 0.5);
    --white-placeholder-color: rgba(255, 255, 255, 0.4);
    --black-color: #252525;
    --white-hover-color: #e3e3e3;
    --black-hover-color: #2d2d2d;
}

#root {
    font-family: Kanit, sans-serif;
    --background-color: var(--white-color);
    --text-color: var(--black-color);
    --select-option-color: var(--purple-color);
    --placeholder-color: var(--purple-placeholder-color);
    --hover-color: var(--white-hover-color);
    --border-color: var(--purple-color);
    --search-icon: url("assets/search-icon.png");
    --input-outline-color: var(--purple-outline-color);
}

#root .dark {
    --background-color: var(--black-color);
    --text-color: var(--white-color);
    --select-option-color: var(--white-color);
    --placeholder-color: var(--white-placeholder-color);
    --hover-color: var(--black-hover-color);
    --border-color: var(--white-color);
    --search-icon: url("assets/white-search-icon.png");
    --input-outline-color: var(--white-outline-color);
}

.container {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--background-color);
    flex-direction: column;
    justify-items: center;
}

.title {
    color: var(--text-color);
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    padding: 50px 0 30px 0;
    width: 750px;
}

.header {
    width: 750px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    .search-bar {
        display: flex;
        align-items: center;
        width: 595px;
        height: 38px;
        border: var(--border-color) 1px solid;
        border-radius: 5px;
        padding-right: 15px;
        font-size: 16px;
        .note-text {
            font-size: 18px;
            height: 100%;
            margin-right: 10px;
            padding-top: 8px;
        }
        input {
            color: var(--text-color);
            background: transparent;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            margin: 0 15px 0 15px;
            font-size: 16px;
            border: none;
            outline: none;
        }
        ::-webkit-input-placeholder {
            color: var(--placeholder-color);
            font-weight: 600;
        }
        img {
            content: var(--search-icon);
        }
    }
    .search-bar:focus-within {
        outline: var(--purple-outline-color) 2px solid !important;
    }
    select {
        flex-grow: 0.5;
        min-width: 160px;
        height: 100%;
        border-radius: 5px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        padding: 8px;
        background: var(--purple-color);
        font-size: 18px;
        font-weight: 600;
        color: var(--white-color);
        background-repeat: no-repeat;
        background-size: 15px;
        background-position: 135px;
        background-color: var(--purple-color);
        option {
            font-size: 16px;
            font-weight: 600;
            background-color: var(--background-color);
            color: var(--select-option-color);
        }
    }
    button {
        flex-grow: 0;
        height: 100%;
        min-width: 38px;
        border-radius: 5px;
        img {
            background-color: transparent;
        }
    }
}

.body {
    padding-top: 30px;
    justify-items: center;
    font-size: 20px;
    color: var(--text-color);
}

li {
    list-style: none;
    .task-div {
        display: flex;
        align-items: center;
        width: 520px;
        padding: 20px;
        border-bottom: rgba(108, 99, 255, 0.4) 2px solid;
        .task-left {
            display: flex;
            align-items: center;
            flex-grow: 1;
            input {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 26px;
                height: 26px;
                margin-right: 15px;
                appearance: none;
                border: var(--purple-color) 2px solid;
                border-radius: 3px;
                cursor: pointer;
                background-color: transparent;
            }
            input:after {
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                font-size: 12px;
                content: "\f00c";
                color: white;
                display: none;
            }
            input:checked {
                background: var(--purple-color);
            }
            input:checked:after {
                display: block;
            }
            label {
                font-size: 25px;
            }
        }
        .task-actions {
            display: flex;
            .delete-btn {
                border: none;
                width: 25px;
                height: 30px;
                outline: none;
                cursor: pointer;
                transition: 0.1s linear;
                background: transparent url("assets/trash.png") no-repeat;
            }
            .delete-btn:hover {
                transition: 0.1s linear;
                background-image: url("assets/trash-active.png");
            }
            .delete-btn:focus-within {
                transition: 0.1s linear;
                background-image: url("assets/trash-active.png");
            }
        }
    }
}

.empty-title {
    margin-top: 10px;
}

.add-task-btn {
    display: flex;
    align-items: center;
    border-radius: 50%;
    padding: 10px;
    img {
        height: 24px;
        width: 24px;
    }
}

.footer {
    position: fixed;
    bottom: 50px;
    right: 280px;
 }

.btn {
    background-color: var(--purple-color);
    border: var(--purple-color) 2px solid;
    outline: none;
    cursor: pointer;
    transition: 0.1s linear;
}

.btn:hover {
    background-color: #5c54da;
    -webkit-box-shadow:0 0 5px var(--purple-color);
    -moz-box-shadow: 0 0 5px var(--purple-color);
    box-shadow:0 0 5px var(--purple-color);
    transition: 0.1s linear;
}
.btn:focus-visible {
    background-color: #5c54da;
    -webkit-box-shadow:0 0 5px var(--purple-color);
    -moz-box-shadow: 0 0 5px var(--purple-color);
    box-shadow:0 0 5px var(--purple-color);
    transition: 0.1s linear;
}

.modal-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--background-color);
    width: 500px;
    height: 289px;
    padding-top: 20px;
    border: var(--border-color) 2px solid;
    border-radius: 15px;
    text-align: center;
    input {
        width: 430px;
        outline: none;
        font-size: 16px;
        margin-top: 20px;
        padding: 7px 12px 7px 12px;
        background: transparent;
        color: var(--text-color);
        border: var(--border-color) 1px solid;
        border-radius: 5px;
    }
    input:focus-within {
        outline: var(--purple-outline-color) 2px solid !important;
    }
    ::-webkit-input-placeholder {
        font-weight: 600;
        color: var(--placeholder-color);
    }
    .modal-buttons {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        width: 90%;
        button {
            padding: 7px 25px 7px 25px;
        }
        .cancel-btn {
            font-size: 18px;
            background-color: transparent;
            border-radius: 5px;
            color: var(--purple-color);
        }
        .cancel-btn:hover {
            background-color: var(--hover-color);
        }
        .apply-btn {
            font-size: 18px;
            border-radius: 5px;
            color: var(--white-color);
        }
    }
}
